body {
  margin: 0 20px;
  font-family: Roboto, sans-serif;
  line-height: 1.6;
}

#mobile-menu {
  display: none;
}

.hamburger-icon span {
  height: 4px;
  width: 30px;
  background-color: white;
  display: block;
  margin-bottom: 5px;
  margin-top: 0px;
}

#logo {
  width: auto;
  transition: all 0.4s;
  margin-bottom: 0;
  vertical-align: middle;
  margin-left: 20px;
}

.header-container {
  background-color: #646764;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 20px 50px;
  margin: 0;
  gap: 40px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1px;
}

.desktop.nav ul a {
  color: white;
  font-size: 25px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: darkgray;
}

.mobile.nav ul li a:hover {
  color: darkgray;
}

#banner {
  background-image: url("images/banner.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: #ffffff;
}

#banner h1 {
  font-size: 10vw;
  color: whitesmoke;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  margin: 0;
}

.container-intro {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 20px 30px;
  background-color: #333333; /* A dark gray or charcoal background */
}

.who-we-are {
  flex: 1;
  background-color: #444444;
  padding: 0px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #f0f0f0;
}
.why-choose-us {
  flex: 2;
  background-color: #444444;
  padding: 0px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #f0f0f0;
}

.why-choose-us strong {
  color: #c0c0c0;
}

.container-intro p {
  font-size: 18px;
  line-height: 1.6;
  color: #dddddd;
}

li {
  font-size: 18px;
}

footer p {
  margin-left: 10px;
  font-size: 16px;
  color: black;
}

footer a {
  text-decoration: none;
}

.members-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 20px auto;
  max-width: 1000px;
}

.member_card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.member_photo {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.member_bio {
  max-width: 800px;
  min-width: 300px;
  padding: 0 20px;
  text-align: justify;
}

.member_bio p {
  font-size: 1.25rem;
  color: black;
  margin: 10px 10px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 80%;
  margin: 0 auto;
}

.image-card {
  position: relative;
  overflow: hidden;
}

.image-card img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
}

.overlay-text {
  position: absolute;
  height: 80px;
  width: 40%;
  top: 5%;
  left: 30%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* Styles for book.html */
.form_container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #404a45;
  color: white;
  border-radius: 8px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.25rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
}

.button {
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
}

.button:hover {
  background-color: darkgray;
}

/* Responsive Design */
@media (max-width: 600px) {
  #banner {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #mobile-menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 999;
  }

  .desktop.nav {
    display: none;
  }

  .mobile.nav {
    display: none;
    position: absolute;
    top: 0px;
    right: 10px;
    width: 150px;
  }

  /* Mobile nagivation will be shown when hamburger icon is hoverd */
  #mobile-menu:hover .mobile.nav {
    display: block;
  }

  .mobile.nav ul {
    background-color: #646764;
    padding: 5px 5px;
  }
  .mobile.nav ul li {
    display: block;
    margin: 0;
  }
  .mobile.nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-style: bold;
  }
  .container-intro {
    flex-direction: column;
  }
  .why-choose-us,
  ul {
    padding: 5px 10px;
  }

  .member_card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .member_photo {
    width: 200px;
  }

  .member_bio {
    width: 95%;
    margin: 0 auto;
    padding: 0 10px;
  }
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .overlay-text {
    position: absolute;
    height: 50px;
    width: 80%;
    top: 5%;
    left: 10%;
    color: white;
    font-size: 1rem;
    text-align: center;
    border-radius: 4px;
  }
}
